.treemap-container {
  /*border: 1px #716262 solid;*/
  /*position: absolute;*/
}
.treemap-container .node {
  transition: all ease 0.5s;
  stroke: #a7a7a7;
  stroke-width: 1px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.treemap-container g:hover .node {
  fill: #f7f7f7;
  stroke: #f7f7f7;
  stroke-width: 1px;
}
.treemap-container .level-0 {
  display: none;
}
.treemap-container .level-1 {
  /*    display: none;*/
}
.treemap-container .level-2 {
  display: none;
}
.treemap-container .level-3 {
  display: none;
}
.treemap-container .level-4 {
  display: none;
}
.treemap-container .node.selected {
  stroke: #428bca;
  stroke-width: 3px;
}
.treemap-container .label {
  font-size: 1em;
  cursor: pointer;
  /*text-anchor: middle;*/
  /*stroke: rgba(0, 0, 0, 0.5);*/
  /*stroke-width: 1px;*/
  /*fill: #2c2c2c;*/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.treemap-container g:hover .label {
  fill: #313131;
}
.treemap-container .label tspan {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.treemap-container .label tspan.head {
  font-size: 1.2em;
  font-weight: bold;
  /**
    for me, visualy looks best bold 
    instead of uppercase, but you can use as you wish
    */
  /*text-transform: uppercase*/
}
.treemap-container .label.selected {
  fill: #428bca;
}
.treemap-tooltip {
  -ms-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  position: absolute;
  top: 100px;
  left: 100px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #808080;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  /* background: #222222; */
  background: #fff;
  opacity: .9;
  /* color: #eeeeee; */
  color: black;
  padding: 10px;
  width: 300px;
  font-size: 12px;
  z-index: 10;
}
.treemap-tooltip .title {
  font-size: 13px;
}
.treemap-tooltip .name {
  font-weight: bold;
}
