.treemap-container {
    /*border: 1px #716262 solid;*/
    /*position: absolute;*/
}

.treemap-container .node {
    transition: all ease 0.5s;
    stroke: #a7a7a7;
    stroke-width: 1px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.treemap-container g:hover .node {
    fill: #f7f7f7;
    stroke: #f7f7f7;
    stroke-width: 1px;
}

.treemap-container .level-0 {
    display: none;
}

.treemap-container .level-1 {
    /*    display: none;*/
}

.treemap-container .level-2 {
    display: none;
}

.treemap-container .level-3 {
    display: none;
}

.treemap-container .level-4 {
    display: none;
}


/*
.treemap-container .node.zoomed {
    background: #fff!important;
    border: 1px solid #e0e0e0!important;
}
*/

.treemap-container .node.selected {
    stroke: #716262;
    stroke-width: 2px;
}

.treemap-container .label {
    /*vertical-align: central;*/
    /*border: 1px red dashed;*/
    /*fill: #fff;*/
    /*
    stroke: #4f4f4f;
    stroke-width: 1px;
*/
    font-size: 0.7em;
    cursor: pointer;
    text-anchor: middle;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.treemap-tooltip {
    -ms-transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
    position: absolute;
    top: 100px;
    left: 100px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #808080;
    box-shadow: 5px 5px rgba(0, 0, 0, .5);
    /* background: #222222; */
    background: #fff;
    opacity: .9;
    /* color: #eeeeee; */
    color: black;
    padding: 10px;
    width: 300px;
    font-size: 12px;
    z-index: 10;
}

.treemap-tooltip .title {
    font-size: 13px;
}

.treemap-tooltip .name {
    font-weight: bold;
}
